#dashboard {
  background-image:url(../../images/bg.jpg);
  height: 93vh;
  background-size: cover;
  background-color: rgba(0, 0, 0, 0.432);
  background-blend-mode: multiply;
}

.navbar{
    background-color: #094067;
}

#offcanvasNavbar {
  width: 30%;
}

@media (max-width: 768px) {
  #offcanvasNavbar {
    width: 75%;
  }
}
.icn-akun {
  width: 35px;
  height: 35px;
}

/* Setting Link */
a {
  text-decoration: none;
  color: rgb(250, 250, 250);
}

.logout a {
  text-decoration: none;
  color: rgb(2, 2, 2);
}


